In [1]:
# Dependencies and Setup
import json
import pandas as pd
import requests
import numpy as py
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float, Date
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine, inspect, func, distinct
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import sqlite3

In [2]:
from sqlite3 import Error

In [3]:
engine = create_engine("sqlite:///../SqLIte_files/NBAfantasyML.sqlite")
conn = engine.connect()

In [4]:
# create function to try and connect to a sqlite database.  if it doesn't work, create one...
def create_connection(db_file):
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()

In [5]:
if __name__ == '__main__':
    create_connection("../SqLIte_files/NBAfantasyML.sqlite")

2.6.0

In [2]:
#Bring in data from internet
city_response=requests.get("http://data.nba.net/prod/v2/2018/teams.json")
city_response=city_response.json()

In [3]:
# Count # of Cities
city_response_count=city_response["league"]["standard"]
city_count=len(city_response_count)
city_count

42

In [7]:
#Bring in elements for NBA_Team Table
NBA_Teams=[{}]

for i in range (0,city_count):
    city_response_list=city_response["league"]["standard"][i]
    teamID=city_response_list["teamId"]
    city=city_response_list["city"]
    fullName=city_response_list["fullName"]
    urlName=city_response_list["urlName"]
    confName=city_response_list["confName"]
    divName=city_response_list["divName"]

# Create an object list to store NBA Team Data as an object

    NBA_Teams.append({"teamId":teamID,
                 "city":city,
                 "teamFullName":fullName,
                 "teamURLcode":urlName,
                 "conferenceName": confName,
                 "divisionName":divName})

# TeamURL code is used in some URL requests.

In [8]:
#Review in Dataframe
NBA_Teams_initial_df=pd.DataFrame(NBA_Teams)
NBA_Teams_df=NBA_Teams_initial_df[["teamId","teamFullName","teamURLcode","city","conferenceName","divisionName"]]
NBA_Teams_df

,teamId,teamFullName,teamURLcode,city,conferenceName,divisionName
0,NaN,NaN,NaN,NaN,NaN,NaN
1,12326,Team Africa,africa,Team,,
2,12327,Team World,world,Team,,
3,15019,Adelaide 36ers,36ers,Adelaide,Intl,
4,1610612737,Atlanta Hawks,hawks,Atlanta,East,Southeast
5,15021,Beijing Ducks,ducks,Beijing,Intl,
6,1610612738,Boston Celtics,celtics,Boston,East,Atlantic
7,1610612751,Brooklyn Nets,nets,Brooklyn,East,Atlantic
8,1610612766,Charlotte Hornets,hornets,Charlotte,East,Southeast
9,1610612741,Chicago Bulls,bulls,Chicago,East,Central
10,1610612739,Cleveland Cavaliers,cavaliers,Cleveland,East,Central
11,1610612742,Dallas Mavericks,mavericks,Dallas,West,Southwest
12,1610612743,Denver Nuggets,nuggets,Denver,West,Northwest
13,1610612765,Detroit Pistons,pistons,Detroit,East,Central
14,1610612744,Golden State Warriors,warriors,Golden State,West,Pacific
15,15018,Guangzhou Long-Lions,long-lions,Guangzhou,Intl,
16,93,Maccabi Haifa,maccabi_haifa,Haifa,Intl,
17,1610612745,Houston Rockets,rockets,Houston,West,Southwest
18,1610612754,Indiana Pacers,pacers,Indiana,East,Central
19,1610612746,LA Clippers,clippers,LA,West,Pacific
20,1610612747,Los Angeles Lakers,lakers,Los Angeles,West,Pacific
21,15016,Melbourne United,united,Melbourne,Intl,
22,1610612763,Memphis Grizzlies,grizzlies,Memphis,West,Southwest
23,1610612748,Miami Heat,heat,Miami,East,Southeast
24,1610612749,Milwaukee Bucks,bucks,Milwaukee,East,Central
25,1610612750,Minnesota Timberwolves,timberwolves,Minnesota,West,Northwest
26,1610612740,New Orleans Pelicans,pelicans,New Orleans,West,Southwest
27,1610612752,New York Knicks,knicks,New York,East,Atlantic
28,15020,New Zealand Breakers,breakers,New Zealand,Intl,
29,1610612760,Oklahoma City Thunder,thunder,Oklahoma City,West,Northwest
30,1610612753,Orlando Magic,magic,Orlando,East,Southeast
31,104,Perth Wildcats,wildcats,Perth,Intl,
32,1610612755,Philadelphia 76ers,sixers,Philadelphia,East,Atlantic
33,1610612756,Phoenix Suns,suns,Phoenix,West,Pacific
34,1610612757,Portland Trail Blazers,blazers,Portland,West,Northwest
35,12325,Rio de Janeiro Flamengo,flamengo,Rio de Janeiro,Intl,
36,1610612758,Sacramento Kings,kings,Sacramento,West,Pacific
37,1610612759,San Antonio Spurs,spurs,San Antonio,West,Southwest
38,12329,Shanghai Sharks,shanghai_sharks,Shanghai,Intl,
39,15015,Sydney Kings,kings,Sydney,Intl,
40,1610612761,Toronto Raptors,raptors,Toronto,East,Atlantic
41,1610612762,Utah Jazz,jazz,Utah,West,Northwest
42,1610612764,Washington Wizards,wizards,Washington,East,Southeast

In [9]:
# Load NBA_TEAMS table
#export to csv
NBA_Teams_df.to_csv("NBA_Teams2.csv", index=False)