In [1]:
# dependencies
import pandas as pd

In [13]:
# read excel file into dataframes
file_to_load = "jrue_holiday.xlsx"
train = pd.read_excel(file_to_load)
train.head()

,G,Date,Home,Opp,GS,MP,FG,FGA,FG%,3P,...,OpFT,OpFTA,OpFT%,OpORB,OpTRB,OpAST,OpSTL,OpBLK,OpTOV,OpPF
0,1,2018-10-17,0,HOU,1,38,5,12,0.417,0,...,18,24,0.750,8,37,21,8,7,11,22
1,2,2018-10-19,1,SAC,1,26,5,11,0.455,0,...,19,26,0.731,9,39,24,6,2,13,26
2,3,2018-10-23,1,LAC,1,37,2,15,0.133,0,...,22,27,0.815,9,47,18,5,4,16,26
3,4,2018-10-26,1,BRK,1,37,9,19,0.474,3,...,10,15,0.667,16,54,26,6,8,18,22
4,5,2018-10-27,1,UTA,1,29,7,13,0.538,0,...,30,37,0.811,6,43,32,7,7,13,26

In [16]:
X = train[["MP", "TOV%", "USG%", "OpSTL"]]
y = train["TOV"].values.reshape(-1, 1)
print(X.shape, y.shape)

(50, 4) (50, 1)

In [19]:
# Use train_test_split to create training and testing data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
# Create the model using LinearRegression

from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [21]:
# Fit the model to the training data and calculate the scores for the training and testing data

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.9516377964451527
Testing Score: 0.9381901924348325

In [25]:
# read excel file into dataframes
file_to_load = "next_week_games.xlsx"
next_week = pd.read_excel(file_to_load)
test = next_week[["MP", "TOV%", "USG%", "OpSTL"]]
test

     MP  TOV%  USG%  OpSTL
0  36.8  14.8    25    8.0
1  36.8  14.8    25    7.8
2  36.8  14.8    25    6.2

In [27]:
prediction = model.predict(test)
prediction

array([[3.23464855],
       [3.23191395],
       [3.21003717]])

In [28]:
next_week["TOV"] = prediction

In [32]:
next_week

,G,Date,Home,Opp,GS,MP,FG,FGA,FG%,3P,...,OpFT,OpFTA,OpFT%,OpORB,OpTRB,OpAST,OpSTL,OpBLK,OpTOV,OpPF
0,51,2019-01-29,0,HOU,1,36.8,8.3,17.2,0.481,1.7,...,20.2,25.9,0.780,10.6,41.9,20.7,8.0,5.4,13.4,22.7
1,52,2019-01-30,1,DEN,1,36.8,8.3,17.2,0.481,1.7,...,16.3,21.6,0.756,12.3,46.8,27.1,7.8,4.5,13.1,20.3
2,53,2019-02-02,0,SAS,1,36.8,8.3,17.2,0.481,1.7,...,17.7,21.6,0.817,9.1,44.4,24.9,6.2,4.6,12.4,18.7

In [33]:
# predicted number of turnovers for next week
next_week["TOV"].sum()

9.676599672933765