In [1]:
# Depenedencies
import json
import pandas as pd
import requests

In [2]:
# Bring in data as object jasonified
player_name_personID_obj=requests.get("http://data.nba.net/prod/v1/2018/players.json")
player_name_personID_request=player_name_personID_obj.json()

In [4]:
# Loop through data and pull out data
NBA_player_list=[]
for players in player_name_personID_request["league"]["standard"]:
    player_list_dict={}
    player_list_dict["personId"]=players["personId"]
    player_list_dict["lastName"]=players["lastName"]
    player_list_dict["firstName"]=players["firstName"]
    
# Append LIst 
    NBA_player_list.append({"personId":player_list_dict["personId"],
                            "lastName":player_list_dict["lastName"],
                            "firstName":player_list_dict["firstName"]})

In [9]:
Player_personId_Name_df=pd.DataFrame(data=NBA_player_list)
Player_personId_Name_df_Final=Player_personId_Name_df[["personId","lastName","firstName"]]
Player_personId_Name_df_Final

    personId       lastName  firstName
0     203518        Abrines       Alex
1     203112            Acy     Quincy
2    1629121          Adams     Jaylen
3     203500          Adams     Steven
4    1628389        Adebayo        Bam
5    1629061           Adel       Deng
6     200746       Aldridge   LaMarcus
7    1628959         Alkins      Rawle
8    1628960          Allen    Grayson
9    1628386          Allen    Jarrett
10   1628443          Allen     Kadeem
11    202329          Aminu  Al-Farouq
12   1626147       Anderson     Justin
13    203937       Anderson       Kyle
14    201583       Anderson       Ryan
15   1628387       Anigbogu        Ike
16    203507  Antetokounmpo    Giannis
17   1628961  Antetokounmpo     Kostas
18      2546        Anthony    Carmelo
19   1628384        Anunoby         OG
20   1627853    Arcidiacono       Ryan
21      2772          Ariza     Trevor
22    201571       Augustin       D.J.
23   1629028          Ayton    Deandre
24   1628407          Bacon     Dwayne
25   1628963     Bagley III     Marvin
26   1627735     Baldwin IV       Wade
27   1628366           Ball      Lonzo
28   1628964          Bamba         Mo
29    200826          Barea       J.J.
..       ...            ...        ...
468   202322           Wall       John
469  1627820        Wallace     Tyrone
470   202954      Wanamaker       Brad
471   203933         Warren       T.J.
472  1627395       Washburn     Julian
473  1629139       Watanabe       Yuta
474  1629118          Welsh     Thomas
475   201566      Westbrook    Russell
476  1628401          White    Derrick
477  1627785      Whitehead     Isaiah
478   202355      Whiteside     Hassan
479   203952        Wiggins     Andrew
480  1626210       Williams       Alan
481   203710       Williams       C.J.
482  1629140       Williams  Johnathan
483  1629026       Williams    Kenrich
484   101150       Williams        Lou
485   101107       Williams     Marvin
486  1627786       Williams       Troy
487  1629057   Williams III     Robert
488  1628391         Wilson       D.J.
489  1626159        Winslow    Justise
490  1626174           Wood  Christian
491  1626153         Wright      Delon
492  1627824       Yabusele  Guerschon
493   201152          Young   Thaddeus
494  1629027          Young       Trae
495   203469         Zeller       Cody
496  1627790          Zizic       Ante
497  1627826          Zubac      Ivica

[498 rows x 3 columns]